name: Ansible deploy

on: workflow_dispatch
jobs:
  ansible:
    runs-on: self-hosted
    steps:
      - name: checkout repo
        uses: actions/checkout@v3
      - name: Run playbook
        uses: dawidd6/action-ansible-playbook@v2
        env:
          REGISTRY_URL: registry.victorsmits.com
          REGISTRY_USER: ${{ secrets.DOCKER_USERNAME }}
          REGISTRY_PASS: ${{ secrets.DOCKER_PASSWORD }}
        with:
          playbook: .ansible/deploy.yml
          inventory: .ansible/production.conf
          key: ${{secrets.SSH_PRIVATE_KEY}}
          requirements: .ansible/requirement.yml
